.todo {
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
    min-height: 48px;
}

.todo__title {
    margin-left: 8px;
}

.todo__delete {
    margin-left: auto;
    cursor: pointer;
    margin-right: 8px;
}

.todo__edit-input {
    display: none;
}

.editMode .todo__edit-input {
    display: block;
}

.editMode .todo__title {
    display: none;
}