.todo {
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
    min-height: 48px;
}

.todo__checkbox {

}

.todo__name {
    margin-left: 8px;
}

.todo__delete {
    margin-left: auto;
    cursor: pointer;
    margin-right: 8px;
}