.header {
    background-color: #00796B;
    height: 50px;
}

.header__container {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header__logo {
    color: #ffffff;
}