.sign-in {
    display: flex;
    height: 100%;
    width: 358px;
    margin: 80px auto 0 auto;
}

.sign-in__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sign-in__form__email,
.sign-in__form__password,
.sign-in__form__submit {
    width: 100%;
    border: 0;
    height: 35px;
    border-radius: 5px;
}

.sign-in__form__email,
.sign-in__form__password {
    box-sizing: border-box;
    padding-left: 10px;
    border: 1px solid #80CBC4;
    margin-bottom: 11px;
    outline: none;
}

.sign-in__form__submit {
    background-color: #26A69A;
    color: #ffffff;
    cursor: pointer;
}

.sign-in__form__submit:hover {
    background-color: #4DB6AC;
}

.sign-in__form--error {
    border: 1px solid #ef5350;
}